<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- send messages -->
            <form action="{{url_for('Direct')}}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name='reciever_id' value="{{reciever_id}}">
                <button type="submit">send</button><input type="text" name="message">
            </form>
            <hr style="color: red;">
        <!--  -->
        <!-- messages -->
            {%for dm in dms%}
                <p>
                <span style="red">{{dm.sender}}:</span>
                {{dm.message}}-----{{dm.datetime}} 
                {% if dm.unread and dm.sender_id==current_user.id %}
                    <span style="color: red;"> not seen</span>
                {%elif  not(dm.unread) and dm.sender_id==current_user.id%} 
                    <span style="color: red;"> seen</span>
                    
                {%endif%}
                </p>
                <hr>
            {%endfor%}
            {{dms}}
        <!-- end messages -->

        <h3 style="color: red;"> 
            <span>sender:{{User.query.filter_by(id=current_user.id).first().username}}</span>
            <br>
            <span>reciever:{{User.query.filter_by(id=reciever_id).first().username}}</span>
        </h3>


        
    </body>
</html>
