<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
        <meta name="csrf-token" content="{{ csrf_token() }}">
    </head>
    <body>
        <div class="row">
            <div class="col-12 text-center text-success">
                <h1>
                    Followers
                </h1>
            </div>
            <div class="col-12 text-center">
                <!-- followers are followed too -->
                    {%for followerid in followersfollowed_id%}
                        <h3>
                            {{User.query.filter_by(id=followerid).first().username}}
                            {%if current_user.id==user.id%}
                                <form action="{{url_for('UnFollow',followersOrfollowingsPage='Followers')}}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="unfollower_id" value={{current_user.id}}>
                                    <input type="hidden" name="unfollowingtarget_id" value={{followerid}}>
                                    <button type="submit">UnFollow</button>
                                    <hr>
                                </form>
                            {%endif%}
                        </h3>
                    {%endfor%}
                <!-- end -->
                <!-- followers you have  followed back  -->
                    {%for followerid in followersnotfollowed_id%}
                        <h3>
                            {{User.query.filter_by(id=followerid).first().username}}
                            {%if current_user.id==user.id %}
                                <form action="{{url_for('UnFollow',followersOrfollowingsPage='Followers')}}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="unfollower_id" value={{followerid}}>
                                    <input type="hidden" name="unfollowingtarget_id" value={{current_user.id}}>
                                    <button type="submit">Remove</button>
                                    <hr>
                                </form>
                            {%endif%}
                        </h3>
                    {%endfor%}
                <!-- end -->
            </div>

        </div>
    </body>
</html>